raw_data/*
!raw_data/.gitignore
data/*
!data/.gitkeep
tfr_data/*
!tfr_data/.gitkeep
saved_models/*
!saved_models/.gitkeep

src/__pycache__
src/preprocess/__pycache__
src/ingest/__pycache__
src/models/__pycache__
src/train/__pycache__
src/utilities/__pycache__
tfrecords/tfr_effnet/efficientnet-b7/checkpoint
tfrecords/tfr_effnet/efficientnet-b7/model.ckpt.data-00000-of-00001
*.index
*.meta
*.data-00000-of-00001
*.tfrec
*.csv
